export(deriv.gh)
export(dgh)
export(g.table)
export(get.depth)
export(goodnessFit)
export(h.table)
export(inv.trans.g)
export(num.inv.A)
export(pgh)
export(qFit)
export(qgh)
export(quantile.table)
export(rgh)
export(std.dgh)
export(std.pgh)
export(std.qgh)
export(trans.gh)
export(tukey.quantiles)
